<header class="navbar-container sticky-top">
  <div class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a href="/" class="navbar-brand"><img class="navbar-brand__image" src="https://www.openrightsgroup.org/app/themes/outlandish/assets/img/logo-black.svg" alt="Open Rights Group" title="Open Rights Group"> WIKI</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div id="main-menu" class="collapse navbar-collapse">
        <nav class="ml-auto">
          <ul class="navbar-nav">
            {{#data-portlets-sidebar}}
            {{#data-portlets-first}}{{{html-items}}}{{/data-portlets-first}}
            {{/data-portlets-sidebar}}
            <li class="nav-item nav-button">
              <a href="https://www.openrightsgroup.org/become-an-org-member/">Join ORG</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<main id="content" class="mw-body">
  <div class="post-content">
    <div class="container">
      <header class="content__header heading">
        <h1 class="firstHeading content__heading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
        {{{html-subtitle}}}
      </header>
      {{{html-body-content}}}
      {{#html-categories}}{{{.}}}{{/html-categories}}
      {{{html-after-content}}}
    </div>
  </div>
</main>

<footer id="footer" class="mw-footer footer container-fluid" role="contentinfo" {{{html-user-language-attributes}}}>
  <div class="footer__search mb-4">
  {{#data-search-box}}
    <form action="{{form-action}}" role="search" class="mw-portlet" id="p-search">
      <input type="hidden" name="title" value="{{page-title}}">
      {{{html-input}}}
      {{{html-button-search}}}
    </form>
  {{/data-search-box}}
  </div>
  <div class="footer__row">
    <div class="wp-block-columns">
      <div class="wp-block-column">
	<h4>Meta</h4>
	<ul>
          {{#data-portlets.data-namespaces}}
          {{{html-items}}}
          {{/data-portlets.data-namespaces}}
          {{#data-portlets.data-views}}
          {{{html-items}}}
          {{/data-portlets.data-views}}
	</ul>
      </div> 
      <div class="wp-block-column">
	<h4>Info</h4>
	<ul>
          <li><a href="/wiki/ORG_Wiki:Privacy_policy" title="ORG Wiki:Privacy policy">Privacy policy</a></li>
          <li><a href="/wiki/ORG_Wiki:About" title="ORG Wiki:About">About ORG Wiki</a></li>
          <li><a href="/wiki/ORG_Wiki:General_disclaimer" title="ORG Wiki:General disclaimer">Disclaimers</a></li>
	</ul>
      </div>
      <div class="wp-block-column">
	<h4>Tools</h4>
	<ul>
          {{#data-portlets-sidebar}}
          {{#array-portlets-rest}}{{{html-items}}}{{/array-portlets-rest}}
          {{/data-portlets-sidebar}}
	</ul>
      </div> 
      <div class="wp-block-column">
	<h4>Personal tools</h4>
	<ul>
          {{#data-portlets.data-user-menu}}
          {{{html-items}}}
          {{/data-portlets.data-user-menu}}
	</ul>
      </div> 
    </div>
    <hr class="wp-block-separator">
    <div class="wp-block-columns">
      <div class="wp-block-column">
        <p><a href="https://creativecommons.org/licenses/by-sa/3.0/"> <img loading="lazy" src="https://www.openrightsgroup.org/app/uploads/2020/07/CC-BY-SA-15px.png" alt="" class="wp-image-7386" width="60" height="21"></a> <a href="https://creativecommons.org/licenses/by-sa/3.0/">2005 – 2021, free to reuse except where stated.</a> <a href="https://www.openrightsgroup.org/credits/">Credits</a></p>
        <p>Open Rights is a non-profit company limited by Guarantee, registered in England and Wales no.&nbsp;<a href="http://data.companieshouse.gov.uk/doc/company/05581537">05581537</a>.</p>
      </div>
      <div class="wp-block-column">
        <ul class="footer-policy-list"><li><a href="https://www.openrightsgroup.org/privacy-policy/">Privacy and cookie policy</a></li></ul>
      </div>
    </div>
  </div>
</footer>
